<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/palm.png">

    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>May you build a ladder to the stars; And climb on every rung</p>
        <img class="portrait" src="img/me.jpg" />
    </div>

    {{>footer}}

</body>

</html>